In [2]:
import pandas as pd

In [12]:
lista = [
    'dados_biblioteca/emprestimos-20101.csv', 'dados_biblioteca/emprestimos-20102.csv',
    'dados_biblioteca/emprestimos-20111.csv', 'dados_biblioteca/emprestimos-20112.csv',
    'dados_biblioteca/emprestimos-20121.csv', 'dados_biblioteca/emprestimos-20122.csv',
    'dados_biblioteca/emprestimos-20131.csv', 'dados_biblioteca/emprestimos-20132.csv',
    'dados_biblioteca/emprestimos-20141.csv', 'dados_biblioteca/emprestimos-20142.csv',
    'dados_biblioteca/emprestimos-20151.csv', 'dados_biblioteca/emprestimos-20152.csv',
    'dados_biblioteca/emprestimos-20161.csv', 'dados_biblioteca/emprestimos-20162.csv',
    'dados_biblioteca/emprestimos-20171.csv', 'dados_biblioteca/emprestimos-20172.csv',
    'dados_biblioteca/emprestimos-20181.csv', 'dados_biblioteca/emprestimos-20182.csv',
    'dados_biblioteca/emprestimos-20191.csv', 'dados_biblioteca/emprestimos-20192.csv',
    'dados_biblioteca/emprestimos-20201.csv'
]

for arquivo in lista:
    df_emprestimos = pd.read_csv(arquivo)

df_emprestimos.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,2962509,2007005628,NaN,2020/01/02 08:17:30.290000000,2020/01/07 11:14:07.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO
1,2962510,L202802,NaN,2020/01/02 08:17:30.391000000,2020/01/07 11:14:17.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO
2,2962511,2012008328,NaN,2020/01/02 08:17:30.436000000,2020/01/07 11:24:46.000000000,2.018103e+10,ALUNO DE PÓS-GRADUAÇÃO
3,2962512,2012055016,2020/01/17 09:56:18.380000000,2020/01/02 08:36:40.163000000,2020/01/31 14:53:52.000000000,2.019015e+10,ALUNO DE GRADUAÇÃO
4,2962513,L197391,2020/01/17 23:50:18.862000000,2020/01/02 09:36:03.877000000,2020/01/24 08:18:19.000000000,2.018005e+10,ALUNO DE GRADUAÇÃO

In [13]:
df_exemplares = pd.read_parquet('dados_biblioteca\dados_exemplares.parquet')
df_exemplares.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Gustavo Santos\AppData\Local\Temp\ipykernel_17668\199337850.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_exemplares = pd.read_parquet('dados_biblioteca\dados_exemplares.parquet')

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [14]:
df_final = pd.merge(df_exemplares, df_emprestimos, on='codigo_barras')
df_final.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema,id_emprestimo,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,102,L136078,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,610,154,2988425,NaN,2020/03/17 12:45:58.537000000,2020/03/18 10:27:27.000000000,2.014200e+09,ALUNO DE PÓS-GRADUAÇÃO
1,394,L001607,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,681,356,2984988,NaN,2020/03/11 12:16:03.018000000,NaN,3.058149e+06,DOCENTE
2,1264,L008610,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,697,696,2962673,2020/02/03 09:47:46.507000000,2020/01/03 09:57:10.936000000,2020/03/05 16:34:52.000000000,3.357809e+06,DOCENTE
3,1265,L128286,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,635,696,2976980,NaN,2020/02/28 18:22:09.551000000,2020/03/04 18:58:29.000000000,2.017004e+10,ALUNO DE GRADUAÇÃO
4,1265,L128286,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,635,696,2985713,2020/04/16 11:58:16.938000000,2020/03/12 09:34:56.970000000,2020/10/07 09:04:54.000000000,3.357809e+06,DOCENTE

In [19]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25610 entries, 0 to 25609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_exemplar           25610 non-null  int64
 1   codigo_barras         25610 non-null  object
 2   colecao               25610 non-null  object
 3   biblioteca            25610 non-null  object
 4   status_material       25610 non-null  object
 5   localizacao           25610 non-null  int64
 6   registro_sistema      25610 non-null  int64
 7   id_emprestimo         25610 non-null  int64
 8   data_renovacao        10610 non-null  object
 9   data_emprestimo       25610 non-null  object
 10  data_devolucao        19822 non-null  object
 11  matricula_ou_siape    25590 non-null  float64
 12  tipo_vinculo_usuario  25610 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 2.5+ MB

In [18]:
df_final.isnull().sum()

id_exemplar                 0
codigo_barras               0
colecao                     0
biblioteca                  0
status_material             0
localizacao                 0
registro_sistema            0
id_emprestimo               0
data_renovacao          15000
data_emprestimo             0
data_devolucao           5788
matricula_ou_siape         20
tipo_vinculo_usuario        0
dtype: int64

Limpeza de dados

aqui verifiquei que existe 20 matrículas que com valores nulos então poedmos removê-las

In [20]:
df_final.dropna(subset=['matricula_ou_siape'], inplace=True)
df_final.isnull().sum()

id_exemplar                 0
codigo_barras               0
colecao                     0
biblioteca                  0
status_material             0
localizacao                 0
registro_sistema            0
id_emprestimo               0
data_renovacao          14980
data_emprestimo             0
data_devolucao           5788
matricula_ou_siape          0
tipo_vinculo_usuario        0
dtype: int64

In [21]:
df_final.drop_duplicates('id_emprestimo')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25590 entries, 0 to 25609
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_exemplar           25590 non-null  int64
 1   codigo_barras         25590 non-null  object
 2   colecao               25590 non-null  object
 3   biblioteca            25590 non-null  object
 4   status_material       25590 non-null  object
 5   localizacao           25590 non-null  int64
 6   registro_sistema      25590 non-null  int64
 7   id_emprestimo         25590 non-null  int64
 8   data_renovacao        10610 non-null  object
 9   data_emprestimo       25590 non-null  object
 10  data_devolucao        19802 non-null  object
 11  matricula_ou_siape    25590 non-null  float64
 12  tipo_vinculo_usuario  25590 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 2.7+ MB

In [24]:
duplicatas_por_id = df_final.duplicated(subset=['id_emprestimo']).sum()
duplicatas_por_id

75